# Functional
dash
dash-bootstrap-components
pandas
plotly
requests
SQLAlchemy==2.0.23
python-dateutil
python-dotenv
psycopg2

# Linting
black
mypy
flake8
flake8-bugbear
tox

types-python-dateutil
types-requests