# Functional
dash
dash-bootstrap-components
pandas
plotly
requests
SQLAlchemy
python-dateutil
psycopg2

# Linting
black
mypy
flake8
flake8-bugbear
tox

types-python-dateutil
types-requests